
    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <servers>
        <server>
          <id>sog2-app-snapshots</id>
          <username>sog-user</username>
          <password>sog@123</password>
        </server>
        <server>
          <id>sog2-app-releases</id>
          <username>sog-user</username>
          <password>sog@123</password>
        </server>
      </servers>
    </settings>
